:root{
    --color1-100: #f5e8d5;
    --color1-200: #ebd1aa;
    --color1-300: #e1ba80;
    --color1-400: #d7a355;
    --color1-500: #cd8c2b;
    --color1-600: #a47022;
    --color1-700: #7b541a;
    --color1-800: #523811;
    --color1-900: #291c09;
    --color2-100: #cdd6d3;
    --color2-200: #9caca7;
    --color2-300: #6a837a;
    --color2-400: #39594e;
    --color2-500: #073022;
    --color2-600: #06261b;
    --color2-700: #041d14;
    --color2-800: #03130e;
    --color2-900: #010a07;
    // --color3-100: #fff;
    // --color3-200: #fff;
    // --color3-300: #fff;
    // --color3-400: #fff;
    // --color3-500: #fff;
    // --color3-600: #ccc;
    // --color3-700: #999;
    // --color3-800: #666;
    // --color3-900: #333;
    --font-family1: "Nunito",sans-serif;
    --font-family2: "Playfair Display",sans-serif;
    --color-dark: #0d0e1c;
    --color-light: #fafafb;
    --color-gray: #F5F6FB;
    --color-info: #3ABFF8;
    --color-warning: #FBBD23;
    --color-danger: #f44444;
    --color-notice: #3ABFF8;
    --color-success: #36D399;
}