@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #0a0a0a;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Satoshi, sans-serif;
	//   font-family: Arial, Helvetica, sans-serif;
}

.field {
	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&__label {
		margin-bottom: 0.5rem;
	}

	& {
		// display: inline-flex;
		// width: 100%;
		// min-height: unset;
		// height: unset;
		// padding: 0.8rem;
		// background: white;
		// border-style: solid;
		// border-width: 1px;
		// line-height: 1rem;
		// input {
		// 	min-height: 2.5rem;
		// }
		

	}
	& [data-slot="input-wrapper"] {
		padding: unset !important;
		min-height: unset !important;
		height: unset !important;

		[data-focus="true"]:not([data-disabled="true"]){
			input {
				outline: auto;
				// ring-blue-500
				border-color: #295bff;
				background-color: red;
			}
		}
	}
	
	&__icon{
		color: #d1d5db;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0.5rem;
	}

	&:focus ~ .field__icon{
		color: #afafaf;
	}
}
.field--icons{
	position: relative;
	&:has(> .field__icon.left-0) {
		.field {
			padding-left: 2.5rem;
		}
	}

	&:has(> .field__icon.right-0) {
		.field {
			padding-left: 2.5rem;
		}
	}
}
input[type="checkbox"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	display: inline-flex;
	border: 1px solid #c8c7c7;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	&:not(:disabled) {
		cursor: pointer;
	}

	&:checked {
		background-color: #295bff;
		border-color: #295bff;
		content: url('data:image/svg+xml;utf8,<svg fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 6L9 17l-5-5" /></svg>');
	}
}

table {
	// border-collapse: ;
	border-collapse: unset;
	border-spacing: 0;
	// min-width: 350px;
	border: 1px solid #d1d5db;
	td {
		padding: 1rem 0.8rem;
	}
	thead {
		tr {
			th {
				border-bottom: 1px solid #d1d5db;
				font-weight: normal;
				color: #a0a0a0;
			}
			th:not(:first-child) {
				border-left: 1px solid #d1d5db;
			}
		}
	}

	tbody {
		tr:nth-child(odd) {
			background: #f9fafc;
		}

		tr:hover {
			background: #f1f1f1;
		}

		tr.isLoading {
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}

	td:has(> label) {
		padding: 0;
	}

	&:not(:has(tbody tr)) {
		thead tr th {
			border-bottom: none;
		}
	}
}

a.link {
	// color: #295BFF;
	// text-decoration: none;
	&:hover {
		color: #598cff;
		text-decoration: underline;
	}
}
.splashScreen,
.appLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 100vh;
	// width: 100vw;
	position: fixed;
	inset: 0;
	&.isLoaded {
		display: none;
	}
}
.appLoader{
	z-index: 999;
}
.splashScreen{
	z-index: 1001;
}


.btn{
	--heroui-hover-opacity: .9;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// font-weight: normal;
	padding: 0.8rem;
	font-size: 1rem;
	font-weight: 400;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	gap: .5rem;

	&.btn-icon{
		padding: 0.5rem;
	}
}

// UPPY
.uppy-Root{
	height: 100%;
}

.uppy-Dashboard{
	height: 100%;
}

.uppy-Dashboard-inner{
	border-style: dashed !important;
	border-color: rgb(212 212 212 / var(--tw-border-opacity, 1)) !important;
	background-color: transparent !important;
}
[data-uppy-drag-drop-supported="true"] .uppy-Dashboard-AddFiles{
	// background-color: transparent !important;
	border: none !important;
}
.uppy-Dashboard-AddFiles-title{
	color : #838383 !important;
	font-size: 12px !important;
}